# Ambiente virtual do Python
venv/
.env
*.pyc
__pycache__/
instance/

# Configurações específicas do sistema operacional
.DS_Store
Thumbs.db

# Banco de dados SQLite
*.sqlite3
*.db

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de IDEs/editors
.vscode/
.idea/
*.swp